extends layout

block content
	nav#mainNav.navbar.navbar-expand-lg.bg-secondary.fixed-top
		.container
			a.navbar-brand.js-scroll-trigger(href='#page-top') RED DE BICICLETAS
			button.navbar-toggler.navbar-toggler-right.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
				| Menu
				i.fas.fa-bars
			#navbarResponsive.collapse.navbar-collapse
				ul.navbar-nav.ml-auto
					li.nav-item.mx-0.mx-lg-1
						a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#portfolio') IMAGENES
					li.nav-item.mx-0.mx-lg-1
						a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') BICICLETAS
					li.nav-item.mx-0.mx-lg-1
						a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#contact') CONTACTO
	header.masthead.bg-primary.text-white.text-center
		.container.d-flex.align-items-center.flex-column
			// Masthead Avatar Image
			img.masthead-avatar.mb-5(src='assets/img/avataaars.svg' alt='')
			// Masthead Heading
			h1.masthead-heading.mb-0 RED DE BICICLETAS
			// Icon Divider
			.divider-custom.divider-light
				.divider-custom-line
				.divider-custom-icon
					i.fas.fa-star
				.divider-custom-line
			// Masthead Subheading
			p.pre-wrap.masthead-subheading.font-weight-light.mb-0 Graphic Artist - Web Designer - Illustrator
	section#portfolio.page-section.portfolio
		.container
			// Portfolio Section Heading
			.text-center
				h2.page-section-heading.text-secondary.mb-0.d-inline-block PORTFOLIO
			// Icon Divider
			.divider-custom
				.divider-custom-line
				.divider-custom-icon
					i.fas.fa-star
				.divider-custom-line
			// Portfolio Grid Items
			.row.justify-content-center
				// Portfolio Items
				.col-md-6.col-lg-4.mb-5
					.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal0')
						.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
							.portfolio-item-caption-content.text-center.text-white
								i.fas.fa-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/cabin.png' alt='Log Cabin')
				.col-md-6.col-lg-4.mb-5
					.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal1')
						.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
							.portfolio-item-caption-content.text-center.text-white
								i.fas.fa-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/cake.png' alt='Tasty Cake')
				.col-md-6.col-lg-4.mb-5
					.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal2')
						.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
							.portfolio-item-caption-content.text-center.text-white
								i.fas.fa-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/circus.png' alt='Circus Tent')
				.col-md-6.col-lg-4.mb-5
					.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal3')
						.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
							.portfolio-item-caption-content.text-center.text-white
								i.fas.fa-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/game.png' alt='Controller')
				.col-md-6.col-lg-4.mb-5
					.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal4')
						.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
							.portfolio-item-caption-content.text-center.text-white
								i.fas.fa-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/safe.png' alt='Locked Safe')
				.col-md-6.col-lg-4.mb-5
					.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal5')
						.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
							.portfolio-item-caption-content.text-center.text-white
								i.fas.fa-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/submarine.png' alt='Submarine')
	section#about.page-section.bg-primary.text-white.mb-0
		.container
			#main_map
	section#contact.page-section
		.container
			// Contact Section Heading
			.text-center
				h2.page-section-heading.text-secondary.d-inline-block.mb-0 CONTACT
			// Icon Divider
			.divider-custom
				.divider-custom-line
				.divider-custom-icon
					i.fas.fa-star
				.divider-custom-line
			// Contact Section Content
			.row.justify-content-center
				.col-lg-4
					.d-flex.flex-column.align-items-center
						.icon-contact.mb-3
							i.fas.fa-mobile-alt
						.text-muted Phone
						.lead.font-weight-bold (555) 555-5555
				.col-lg-4
					.d-flex.flex-column.align-items-center
						.icon-contact.mb-3
							i.far.fa-envelope
						.text-muted Email
						a.lead.font-weight-bold(href='mailto:name@example.com') name@example.com
	footer.footer.text-center
		.container
			.row
				// Footer Location
				.col-lg-4.mb-5.mb-lg-0
					h4.mb-4 LOCATION
					p.pre-wrap.lead.mb-0
						| 2215 John Daniel Drive
						| Clark, MO 65243
				// Footer Social Icons
				.col-lg-4.mb-5.mb-lg-0
					h4.mb-4 AROUND THE WEB
					a.btn.btn-outline-light.btn-social.mx-1(href='https://www.facebook.com/StartBootstrap')
						i.fab.fa-fw.fa-facebook-f
					a.btn.btn-outline-light.btn-social.mx-1(href='https://www.twitter.com/sbootstrap')
						i.fab.fa-fw.fa-twitter
					a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/startbootstrap')
						i.fab.fa-fw.fa-linkedin-in
					a.btn.btn-outline-light.btn-social.mx-1(href='https://www.dribble.com/startbootstrap')
						i.fab.fa-fw.fa-dribbble
				// Footer About Text
				.col-lg-4
					h4.mb-4 ABOUT FREELANCER
					p.pre-wrap.lead.mb-0
						| Freelance is a free to use, MIT licensed Bootstrap theme created by Start Bootstrap
	// Copyright Section
	section.copyright.py-4.text-center.text-white
		.container
			small.pre-wrap Copyright © Your Website 2020
	// Scroll to Top Button (Only visible on small and extra-small screen sizes)
	.scroll-to-top.d-lg-none.position-fixed
		a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
			i.fa.fa-chevron-up
	// Bootstrap core JS
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
	// Third party plugin JS
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
	// Contact form JS
	script(src='assets/mail/jqBootstrapValidation.js')
	script(src='assets/mail/contact_me.js')
	// Core theme JS
	script(src='js/scripts.js')
	script(src='js/map.js')

